<head>
	<meta class="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="theme-color" content="{{ site.primary_color }}">
  <link rel='stylesheet' href='/assets/css/style.css' />
  {% if site.hubspot_id%}
  <!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/{{ site.hubspot_id }}.js"></script>
  <!-- End of HubSpot Embed Code -->
  {% endif %}
  <script>
    var supported_languages = {{ site.languages | jsonify }};
  </script>
  {% seo %}
</head>
